<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://designer.igniteui.com/packages/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="http://designer.igniteui.com/css/themes/infragistics/infragistics.theme.css">
		<link rel="stylesheet" href="http://designer.igniteui.com/css/structure/infragistics.css">
		<!--
			Update the Ignite UI script references to your licensed copies before deploying.
			Ignite UI License: http://www.infragistics.com/legal/license/ultimate/
		-->
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
		<script src="http://designer.igniteui.com/js/infragistics.core.js"></script>
		<script src="http://designer.igniteui.com/js/infragistics.lob.js"></script>
		<!-- You may remove the datasources.js script if you are not using Designer sample data. -->
		<script src="http://designer.igniteui.com/js/datasources.js"></script>
		<script id="code">
			$(document).ready(function () {
				$("#grid1").igGrid({
					dataSource: defaultGridData1,
					width: "100%",
					height: "450",
					renderCheckboxes: true,
					autoGenerateColumns: false,
					columns: [
						{
							key: "active",
							headerText: "Active",
							dataType: "bool",
							width: "7%"
						},
						{
							key: "registered",
							headerText: "Registered",
							dataType: "date",
							format: "d MMM yyyy",
							width: "13%"
						},
						{
							key: "name",
							headerText: "Name",
							width: "20%"
						},
						{
							key: "company",
							headerText: "Company",
							width: "15%"
						},
						{
							key: "phone",
							headerText: "Phone",
							width: "15%"
						},
						{
							key: "email",
							headerText: "Email",
							template: "<a href='mailto:${email}'>${email}</a>",
							width: "30%"
						}
					],
					features: [
						{
							name: "Filtering",
							language: "en"
						},
						{
							name: "Paging",
							showPageSizeDropDown: false,
							language: "en"
						},
						{
							name: "Sorting",
							language: "en"
						},
						{
							name: "Selection",
							language: "en",
							inherit: true
						}
					]
				});

			});
		</script>
	</head>
	<body>
        <h1>Contract List</h1>
        <hr/>
        <div id="grid1"></div>
	</body>
</html>