<div class="ui text menu">
    <div class="item">
        <a href="/">
            <img style="width: 9em;" src="/img/logo.jpg">
        </a>
    </div>
    <div class="ui right item">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
        </div>
    </div>
    <div class="right menu">
        <div class="ui right dropdown item">
            <i class="bell outline icon"></i>
            <ul class="menu menu-notif">
                <li class="item"><a href="/revisi_pr.html"><i class="file alternate outline icon"></i>Lihat revisi draft PR</a></li>
                <li class="item"><a href="/register_vendor_revise.html"><i class="file alternate outline icon"></i>Lengkapi  Data Registrasi Anda</a></li>
                <li class="item"><a href="/suratpenetapan_vendor.html"><i class="file alternate outline icon"></i>Registrasi Anda Berhasil</a></li>
                <li class="item"><a href="/revisi_pr.html"><i class="file alternate outline icon"></i>Lihat PR yang harus diverifikasi</a></li>
                <li class="item"><a href="/procurement_detail.html"><i class="file alternate outline icon"></i>Lihat Procurement</a></li>
            </ul>
        </div>
        <div class="ui right dropdown item">
            User menu
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" id="logoutButton">Logout</div>
            </div>
        </div>
    </div>
</div>