<!-- Navigation Menu -->
<div class="ui vertical left fluid menu">
    <div class="item item_menu" id="vendor">
        <div class="header">Vendor</div>
        <div class="menu">
            <a id = "register_vendor" class="item vendor_list" href="/register_vendor.html">Register Vendor</a>
        </div>
        <div class="menu">
            <a class="item vendor_list" href="/vendor_list.html">Vendor List</a>
        </div>
    </div>
    <div class="item item_menu" id="katalog">
        <div class="header">Katalog</div>
        <div class="menu">
            <a class="item katalog_produk detail_produk" href="/katalog_produk.html">Katalog Produk</a>
        </div>
    </div>
    <div class="item item_menu" id="purchasing">
        <div class="header">Purchasing</div>
        <div class="menu">
            <a class="item pr_list" href="/pr_list.html">Purchase Requisition</a>
        </div>
        <!-- <div class="menu">
            <a class="item pr_approval_list" href="/pr_approval_list.html">Purchase Requisition Approval</a>
        </div> -->
        <div class="menu">
            <a class="item po_list" href="/po_list.html">Purchase Order</a>
        </div>
        <div class="menu">
            <a class="item procurement_list" href="/procurement_list.html">Procurement</a>
        </div>
    </div>
    <div class="item item_menu" id="shopping_cart">
        <div class="header">Shopping Cart</div>
        <div class="menu">
            <a class="item shopping_cart" href="/shopping_cart.html">Shopping Cart</a>
        </div>
        <div class="menu">
            <a class="item checkout cetak_invoice" href="/checkout.html">Checkout</a>
        </div>
    </div>
    <div class="item item_menu" id="kontrak">
        <div class="header">Kontrak</div>
        <div class="menu">
            <a class="item contract_list" href="/contract_list.html">List Kontrak</a>
        </div>
    </div>
    <div class="item item_menu" id="approver">
        <div class="header">Menu Approver</div>
        <div class="menu">
            <a class="item pr_list" href="/pr_list_sso.html">Assign Officer untuk PR</a>
        </div>
    </div>
    <div class="item item_menu" id="officer">
        <div class="header">Menu Officer</div>
        <div class="menu">
            <a class="item pr_list" href="/revisi_pr_list.html">Review Purchase Requisition</a>
        </div>
    </div>
    <div class="item item_menu" id="user">
        <div class="header">Administrasi User</div>
        <div class="menu">
            <a class="item user_list" href="/user_list.html">List User</a>
        </div>
        <div class="menu">
            <a class="item brand_list" href="/brand_list.html">List Brand</a>
        </div>
        <div class="menu">
            <a class="item category_list" href="/category_list.html">List Kategori</a>
        </div>
        <div class="menu">
            <a class="item prod_list" href="/prod_list.html">List Produk</a>
        </div>
    </div>
</div>