.container {
    display: flex;
    justify-content: space-between;
    padding:0.5%;
}

.up-field{
    margin-bottom: 1.5em;
}

.po-box{
    margin-top: 2%;
}

.app {
    margin-bottom: 1%;
}

.officerDialog{
    margin:1%;
    text-align: center;
}

#officerBtn{
    float: right;
    margin: 1.5%;
}

#saveBtn{
    margin-top: 1.5em;
    float: right
}
