.label {
    color: white;
    padding: 8px;
}
 
.verified {background-color: #4CAF50;} /* Green */
.waiting {background-color: yellow; color: black;} /* Orange */
.revisi {background-color: #f44336;} /* Red */
.not-submitted {background-color:gray;} /* Gray */

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator{
    background-color: white; 
}