.container {
    display: flex;
    justify-content: space-between;
    padding:0.5%;
}

.up-field{
    margin-bottom: 1.5em;
}

.po-box{
    margin-top: 2%;
}

.app {
    margin-bottom: 1%;
}

#reviewBtn{
    margin-top: 1%;
    float: right
}

.recommendBtn{
    background-color: #e3211d;
    color: white;
}
