.container {
    display: flex;
    justify-content: space-between;
    padding:0.5%;
}

.up-field{
    margin-bottom: 1.5em;
}

.po-box{
    margin-top: 2%;
}

.app {
    margin-bottom: 1%;
}

#reviewBtn{
    margin-top: 1%;
    float: right
}

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator{
    background-color: white;
}
